#accounts
{
  position: absolute;
  top: 36px;
  left: 10px;
  z-index: 2000;
}

#accounts a
{
  font-size: 11px;
  color: #666666;
  padding-top: 2px;
  padding-bottom: 2px;  
  padding-left: 22px;
  text-decoration: none;
  background: url('images/user.png') 5px 1px no-repeat;
}

#accounts a:hover
{
  color: #333333;
}

table.records-table tbody tr:hover:first-child > td,
table.records-table tbody tr:first-child td:hover
{
  background-color: #FFFFFF;
  border: medium none;
  color: black;
  font-weight: normal;
}

#accounts select
{
  font-size: 11px;
  width: 136px; 
}

table#sections-table
{
  position: relative;
  top: 24px;
}

div#prefs-details input.button
{
  position: relative;
  top: 18px;
}

div.settingsplugin input.button
{
  position: relative;
  bottom: 10px;
}

