#messagetoolbar a.forwardAtt {
  background-image: url('forwardattachment_act.png');
  background-position: 0 0px;
}

#messagetoolbar a.forwardAttSel {
  background-image: url('forwardattachment_pas.png');
  background-position: 0 0px;
}

#rcmContextMenu .forwardatt a
{
  background: url('forwarded.png') no-repeat 7px center;
}
