#messagetoolbar a.archivefolder,
#messagetoolbar a.archivefolderSel
{
  background-image: url(archive.png);
  background-position: center 0;
}

#mailboxlist li.archive,
#mailboxlist li.archive:hover
{
  background-image: url('foldericon.png');
  background-position: 15px 0;
  background-repeat: no-repeat;
}

#mailboxlist li.archive a:hover
{
  background-image: inherit;
  background-position: 4px 0;
}

#rcmContextMenu .archive a
{
  background: url('foldericon.png') no-repeat 7px center;
}

#rcmliArchives
{
  left: 15px;
}

#rcmliArchives a
{
  left: -15px;
}

#rcmliArchives li a
{
  left: 0;
}

#mailboxlist li#rcmliArchives div.expanded,
#mailboxlist li#rcmliArchives div.collapsed
{
  left: -7px !important;
}

