/***** Roundcube|Mail login styles of gv4alw *****/

#login-form {
  margin-top: 160px;
  width: 450px;
  height: auto;
  background-color: #a1b5ce;
  font-size: 14px;
  padding-left: 0px;
  padding-top: 2px;
  color: #FFFFFF;
  border: 0px;
}

.boxtitle {
  background: none;
  border: none;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-family: Tahoma, "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

.boxcontent {
  position: relative;
  top: 7px;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 0px;
}

