.timeline {
  position: absolute;
  left: 59px;
  border: none;
  border-top: 1px solid #DC5757;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}

ul.caltoolbarmenu {
  margin: -4px 0 -4px 0;
  padding: 0;
  list-style: none;
}

ul.caltoolbarmenu li {
  font-size: 11px;
  white-space: nowrap;
  min-width: 130px;
  margin: 2px -4px;
}

ul.caltoolbarmenu li input {
  vertical-align: middle;
}

#recurringdialog{
  position: absolute;
  padding: 10px;10px;10px;10px;
  width: 350px;
  top: 200px;
  margin-left: -175px;
  left: 50%;
  z-index: 5000;
  background-color:#F6F6F6;
}

#jqdatepicker
{
  top: 12px;
  position: relative;
  left: -1px;
  padding-bottom: 15px;
}

div.ui-datepicker
{
  box-shadow: 0 0 9px #666666;
}

div.ui-datepicker div.ui-datepicker-header
{
  border: 0 none;
  border-radius: 3px 3px 0 0;
  height: 26px;
  padding: 2px 4px 0 !important;
  vertical-align: middle;
  font-size: 14px;
  color: white;
  background: none #AABDCC;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-active
{
  background: none #E2F4F5;
  color: black;
}

.ui-dialog
{
  width: 600px;
}

#calprinttable td, th
{
  border-width: 1px;
  border-style: solid;
}

#calsearchdialog {
  display: none;
  background-color: #FAFAFA;
  color: #333;
  padding: 5px 0 0 0;
  overflow: auto;
  overflow-x: hidden;
}

#calsearchset {
  display: none;
  position: absolute;
  top: 108px;
  right: 140px;
  width: 150px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #999;
  padding: 4px;
  z-index: 50000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 12px #999;
  -webkit-box-shadow: #999 1px 1px 12px;
}

.calsearchmatch {
  color: #CC3333;
}

.calsearchmatchselected {
  color: #000;
}

#calsearchdialog .ui-dialog {
  padding: 0;
}

#calsearchdialog table {
  width: 100%;
  overflow: hidden;
}

#calquicksearchbar
{
  position: absolute;
  top: 0;
  right: 160px;
  width: 182px;
  height: 20px;
  text-align: right;
}

#calquicksearchbar img
{
  vertical-align: middle;
}

#calsearchfilter
{
  margin-right: 4px;
  margin-bottom: 5px;
  position: absolute;
  top: 2px;
  left: 24px;
  width: 140px;
  height: 15px;
  font-size: 11px;
  padding: 0px;
  border: none;
}

#calsearchmod
{
 position: absolute;
 top: 2px;
 left: 4px;
}

#calsearchreset
{
  position: absolute;
  top: 3px;
  right: -9px;
  text-decoration: none;
}

#calendaroverlay {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;
  background-color: rgba(0,0,0,0.5) !important;
  background-color: #F6F6F6;
  background: url(../../../../skins/default/images/display/loading.gif) 100px 100px no-repeat;
  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

#calendar {
  position: absolute;
  top: 23px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

#calendar-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; 
}

#calendar-header {
  position: relative;
  z-index: 1;
}

#calusernamecontent {
  font-size: 11px;
}

#upcoming-maincontainer {
  cursor: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 8px;
}

#sectionslist {
  width: 230px;
}

#prefs-box {
  left: 240px;
  right: 5px;
}

#event li {
  font-size: 12px;
}

#rrules span {
  font-size: 11px;
}

#rrules td {
  font-size: 11px;
}

#rrules a:visited {
  /*color: #555554;*/
}

#icsuploadform {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

#agendalist {
  width: 700px;
}

#print {
  width: 680px;
}

.print {
  margin: 1px;
}

pre {
 font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#messagetoolbar {
	padding: 0;
}

#messagetoolbar span#calfiltercontent a,
#messagetoolbar div#calusernamecontent,
#messagetoolbar div#calusernamecontent a
{
	float: none;
  display: inline;
  color: white;
}

#toolbar {
  position: absolute;
  top: 10px;
  right: 20px;
}

#todaybutton{
  position: absolute;
  top: 0;
  right: 0;
}

#event,
#calswitch,
#calfilter {
  display: none;
}

.fc-state-highlight {
  background: #fff;
}

.ui-state-highlight
{
  background: #E4F2F5;
  border-color: #E2F4F5;
  color: black;
  border: 1px solid #ccc;
}

.ui-widget-header,
.ui-widget-content {
  font-weight: normal;
}

.fc-event-skin {
  font-size: 9px;
}

.fc-event-title {
  font-size: 9px;
}

.fc-event-description {
  font-size: 9px;
}

.fc-event-location {
  font-size: 9px;
}

.fc-event-categories {
  font-size: 9px;
  font-style: italic; 
}

.fc-grid .fc-event-time {
  font-weight: normal;
}

div#event a.tablink
{
  width: 102px;
  height: 18px !important;
  font-family: Tahoma,arial,"nimbus sans l",sans-serif;
  font-size: 13px;
  text-align: center;
  background: url(images/tab-pas.png);
  padding: 4px 0;
  text-decoration: none;
  border: none;
  color: #DEE7EF;
}

div#event li a.tablink-selected
{
  background: url(images/tab-act.png);
  cursor: default;
  margin-left: 0px;
  color: #4c5e75;
}

div#event a.tablink:not(.tablink-selected):hover
{
  color: #4c5e75;
  background: url('images/tab-act.png');
}

div#event .ui-tabs-nav
{
  height: auto;
}

div#event .ui-tabs-nav li
{
  background: none;
  padding: 0;
}

div#event .ui-tabs-panel
{
  margin: 0;
}

