#taskbar a.button-sticky_notes {
  background: url(images/sticky_notes.png) 0px 4px no-repeat;
}

#calicon {
  background: url(images/calendar.png) 0px 4px no-repeat;
  position:absolute;
  top:15px;
  right:10px;
  width:22px;
  height:22px;
}

#date {
  display:none;
  position:absolute;
  top:18px;
  right:175px;
  width:50px;
  height:22px;
}

#notes {
  position: absolute;
  top: 60px;
  width: 98.9%;
  height: 90%;
  border: 1px solid #999;
}

#notes-container{
  margin:0 auto;
  position:absolute;
  top:35px;
  bottom:0px;
  left:10px;
  right:10px; 
}
