a.button-sticky_notes,
a.button-sticky_notes.tablink-selected
{
  position: relative;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  top: 0px;
  padding: 4px 0 0 0;
  margin-left: 0;
  float: left;
  height: 18px;
  width: 102px;
  font-family: Tahoma,arial,"nimbus sans l",sans-serif;
  font-size: 13px;
}
 
a.button-sticky_notes
{
  color: white;
  background: url(images/tab-pas.png);
}

a.button-sticky_notes:hover
{
  background: url(images/tab-act.png);
  cursor: pointer;
  color: #4c5e75;
}

a.button-sticky_notes.tablink-selected,
a.button-sticky_notes.tablink-selected:hover
{
  background: url(images/tab-act.png);
  cursor: default;
  color: #4c5e75;
}

#notes {
  position: absolute;
  top: 60px;
  width: 98.9%;
  height: 90%;
  border: 1px solid #999;
}
